.wrapper {
  background: #f8f9fa;
  border-radius: 30px;

  padding: 0.1rem 1rem;
  margin: 1rem;

  &:hover {
    background: darken(#f8f9fa, 5%);
    cursor: pointer;
  }

  &__selected {
    background: darken(#f8f9fa, 10%);

    &:hover {
      background: darken(#f8f9fa, 10%);
      cursor: pointer;
    }
  }

  p {
    width: 100%;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__shortLink {
    font-size: 1.3rem;
  }

  &__fullLink {
    color: lighten(black, 30%);
    font-size: 0.8rem;
  }

  &__dateViews {
    display: flex;
    align-items: center;
    color: lighten(black, 30%);
    font-size: 0.8rem;

    p {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }
}
