@import "../../styles/colors.module.scss";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $navbar-bg;
  color: $navbar-text;
  padding: 0.5rem 1.5rem;
  height: 2.5rem;

  &__logo {
    font-size: 1.5rem;
    background: linear-gradient(to right, #d1913c, #ffd194);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__links {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__link {
    &:hover {
      color: rgba($navbar-text, 0.8);
    }
  }
}
