@import "./colors.module.scss";

.wrapper {
  display: grid;
  grid-template-columns: 20rem 1fr;

  height: 100%;

  &__leftSide {
    display: flex;
    overflow: auto;

    flex-direction: column;
  }

  &__rightSide {
    overflow: auto;
  }

  &__counters {
    display: flex;
    justify-content: center;

    gap: 1rem;

    p {
      display: flex;
      align-items: center;
      gap: 0.3rem;
    }
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;

    &__leftSide {
      flex-direction: row;
    }

    &__counters {
      display: none;
    }

    &__linkCard {
      width: 20rem;
    }
  }
}
